In [62]:
import pandas as pd#loading the required packages
import numpy as np
from sklearn.tree import DecisionTreeClassifier as dt
from sklearn.metrics import classification_report as rep
from sklearn.metrics import confusion_matrix as mat
from sklearn import metrics as met
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
import seaborn as sea
import pydotplus
import matplotlib
import matplotlib.pyplot as plot
from IPython.display import Image

In [8]:
mturk_sample=pd.read_csv('../data/mturk_sample.csv')
mturk_sample.head()

,id,TOPIC0,TOPIC1,TOPIC2,TOPIC3,TOPIC4,TOPIC5,TOPIC6,TOPIC7,TOPIC8,...,TOPIC1192,TOPIC1193,TOPIC1194,TOPIC1195,TOPIC1196,TOPIC1197,TOPIC1198,TOPIC1199,class,annotator
0,7153,0.189778,0.028247,0.082636,0.242747,0.037713,0.145649,0.0937,-0.138572,0.131927,...,0.008808,0.086159,0.073585,-0.087079,-0.124133,0.039286,0.091516,0.061185,neg,A207OR9LV0PAPY
1,7153,0.189778,0.028247,0.082636,0.242747,0.037713,0.145649,0.0937,-0.138572,0.131927,...,0.008808,0.086159,0.073585,-0.087079,-0.124133,0.039286,0.091516,0.061185,neg,A233ONYNWKDIYF
2,7153,0.189778,0.028247,0.082636,0.242747,0.037713,0.145649,0.0937,-0.138572,0.131927,...,0.008808,0.086159,0.073585,-0.087079,-0.124133,0.039286,0.091516,0.061185,neg,ARX0S1CIDJLOX
3,7153,0.189778,0.028247,0.082636,0.242747,0.037713,0.145649,0.0937,-0.138572,0.131927,...,0.008808,0.086159,0.073585,-0.087079,-0.124133,0.039286,0.091516,0.061185,neg,A3CFNUD7VR2E1E
4,7153,0.189778,0.028247,0.082636,0.242747,0.037713,0.145649,0.0937,-0.138572,0.131927,...,0.008808,0.086159,0.073585,-0.087079,-0.124133,0.039286,0.091516,0.061185,neg,A2TEWO3WJ5YKGG

In [9]:
temp=mturk_sample[['id','annotator','class']]
temp=temp.pivot(index='id',columns='annotator',values='class')
temp.head()

annotator,A10ENY7ZWMG1GL,A111JI6APXR6QV,A119KIC2YMT1HX,A122JE350RXCLB,A12J6O77R7WG93,A12SGFXZTMOA5T,A152FGSJ9WCXN3,A1656W5DTX0RD8,A1675D95NJ1YDD,A16Q8VB9Z5FNAX,...,FAKE0,FAKE1,FAKE2,FAKE3,FAKE4,FAKE5,FAKE6,FAKE7,FAKE8,FAKE9
id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pos,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cols = list(temp.columns.values)
cols

['A10ENY7ZWMG1GL',
 'A111JI6APXR6QV',
 'A119KIC2YMT1HX',
 'A122JE350RXCLB',
 'A12J6O77R7WG93',
 'A12SGFXZTMOA5T',
 'A152FGSJ9WCXN3',
 'A1656W5DTX0RD8',
 'A1675D95NJ1YDD',
 'A16Q8VB9Z5FNAX',
 'A17D71VG0C31RT',
 'A17FVQS8BZQNVB',
 'A18TDHUVOMVJRI',
 'A19XX5CGHP2R0X',
 'A1AN863VAHU927',
 'A1BB6Z4O4R4A67',
 'A1CV8APDA7Y2PI',
 'A1DBDHM956762E',
 'A1DM69EDQ1PS9S',
 'A1E90HXPEL34ZU',
 'A1F12YBG64MNZJ',
 'A1F4D2PZ7NNWTL',
 'A1H0T56YFAR3QK',
 'A1IMMCOZYZFHMQ',
 'A1JH7KENWHOGB7',
 'A1JWEUVNAZ6WVA',
 'A1M8AYAL3L8ACP',
 'A1NF6PELRKACS9',
 'A1NK5S5QJEOLZY',
 'A1NMOW820TYVWT',
 'A1NQ2LG7M7ALCO',
 'A1T5YMBH35PDBX',
 'A1UB330C1JPJ9I',
 'A1UOPC7A9O0S8W',
 'A1VKQCQR2QEKSW',
 'A1WBR902VW7HTY',
 'A1WDHA5DK7IX9R',
 'A1X3DVECPBYBG9',
 'A1Y1H0VWA2D40C',
 'A1YEUKODCCJPUO',
 'A1ZZINLCZZYOH4',
 'A205ETKCKCP50G',
 'A207OR9LV0PAPY',
 'A2101OONZUK9OB',
 'A21LV9ZRPRGSUN',
 'A22CRWMZUX7FFR',
 'A22YIP9VBAHTD0',
 'A233ONYNWKDIYF',
 'A23AWSZSAGLY8X',
 'A23U6DBJXHGREU',
 'A24GYA3DEJRNNS',
 'A24ZS6FANCA3E5',
 'A25OJ3H62OYX6B',
 'A25Q2QV438WIWU',
 'A26O058S4R4JPX',
 'A279W37AYU6IC6',
 'A2865KTIP7MIXZ',
 'A28TXBSZPWMEU9',
 'A2A0D1IO0Z4IR2',
 'A2AKAKQY8ZLETB',
 'A2BKU0NE7F3P0B',
 'A2CB59Z7X1BFD4',
 'A2CJY4787IR70K',
 'A2DHCVFGQRKU5',
 'A2EISOFPZ8FV23',
 'A2ELUC3YKQAJ92',
 'A2F0X4LN9N4O4C',
 'A2HD5XMM48KKJW',
 'A2HDKJO3N68Q2K',
 'A2J4TPLU00ZRYJ',
 'A2JBJFPFG38X9C',
 'A2JEU2I3V0GWIV',
 'A2JUTTLDE5LGHH',
 'A2JVHE1ESSF6IQ',
 'A2N0C6CGQXE2NS',
 'A2O5PN17VNYXI0',
 'A2OEGF2GNN8C1H',
 'A2OQXTVWR28X0G',
 'A2P37651146LL5',
 'A2PAJVRINVOJPP',
 'A2PEJ1LMPFFK9W',
 'A2Q4KXJ56K8NI2',
 'A2RA4A0LLQLGUW',
 'A2T19IADVP11HY',
 'A2TBTZIQDMJOHY',
 'A2TEWO3WJ5YKGG',
 'A2TI6FZW8DL9E8',
 'A2TVQMMI5TNQPJ',
 'A2USNXM8Z6KHUL',
 'A2VAPT7HQDGVM3',
 'A2WZQ92N4809N1',
 'A2Y9CYI7OICX8U',
 'A2YO1F0W7I4IFD',
 'A2ZMXBMLTPSS4D',
 'A31A20Z5P0UJBH',
 'A31X3JCHS0BPFJ',
 'A33SMNMTMIOJ6T',
 'A34XE98BOR60ZJ',
 'A35GMY72E6AKNS',
 'A35OGKV242IJ78',
 'A36A9ZTE969VQW',
 'A36KE97IOQINHY',
 'A36P4783SDPAZ3',
 'A36P6YLIJXYPHA',
 'A375JLQN5DZBD7',
 'A37OZD4L9W21QK',
 'A3A55IAQ5UNIYW',
 'A3A5BAO5NT2W8',
 'A3A6QS6FKGUJIN',
 'A3CD2802ITWXNH',
 'A3CFNUD7VR2E1E',
 'A3CJ3U84B1VDOU',
 'A3EJ3VOAJF2KYU',
 'A3FMVGPLM6G2R8',
 'A3G56485NG0SR6',
 'A3HMIGIYSTV14N',
 'A3HTLXAPOBCVVO',
 'A3I31KX31R38F9',
 'A3IG0TV6T181YE',
 'A3IN0LB2T2TE8T',
 'A3KTOGPD4ILUNM',
 'A3MOR1W0QQ48OD',
 'A3O6XMWN8W84L5',
 'A3ON09B35K1L3L',
 'A3R2KHDROA56BT',
 'A3RILJPBGAOWN4',
 'A3RJ8NZQ8BRTZM',
 'A3RP23KJ7MEI1J',
 'A3SWVCOJPJM7KQ',
 'A3SXLBX06D9FP9',
 'A3TPYQRWF3QML7',
 'A3TUKCLQ4D3T9R',
 'A3UUTCRNGNJAP1',
 'A4ARZZW7QI98E',
 'A79CHO3NW2IPO',
 'A7JTOYC1DSDIT',
 'A7YCS2T3QIJCA',
 'A8028AFBBS29G',
 'A9J48W1C9IZAI',
 'A9K49S97N9S9Y',
 'A9MYC5IGQ2DO4',
 'AA2EC0ZA3MIW2',
 'AC6QZ6VSEIYK1',
 'ACPHZ1AG8XAQ0',
 'AD1ILDUXZHASF',
 'AD5IKFAK8KN4P',
 'AE3ML0W24YFNL',
 'AF09UGIC6B81Y',
 'AFDMO7SSL5F3V',
 'AFT6VDMD6VGDG',
 'AGBA9QNP2BKR1',
 'AI4WWBB2PNCKH',
 'AKZGEPPYJ0GDI',
 'AL12RG9EJZ60',
 'AL8NYDL4JOYL3',
 'ALUHVREK2GZLO',
 'ANCF8G8GCO4EM',
 'AOMS6ZPYQPAN',
 'APPTLVXZD0SKE',
 'APSHE13X6ZQJI',
 'AQN3RS63MEPQA',
 'ARV5C888EQ0EA',
 'ARX0S1CIDJLOX',
 'ATHS9GUME1XCA',
 'AUQYIK6A9OLWK',
 'AW4GAQGB36IBK',
 'AWJ35HKXU34TE',
 'AX548JBLUVYL5',
 'AZ8KL6F16ZS7G',
 'FAKE0',
 'FAKE1',
 'FAKE2',
 'FAKE3',
 'FAKE4',
 'FAKE5',
 'FAKE6',
 'FAKE7',
 'FAKE8',
 'FAKE9']

In [13]:
temp[cols] = temp[cols].replace({np.nan:0, 'pos':1,'neg':-1})

In [14]:
temp.head()

annotator,A10ENY7ZWMG1GL,A111JI6APXR6QV,A119KIC2YMT1HX,A122JE350RXCLB,A12J6O77R7WG93,A12SGFXZTMOA5T,A152FGSJ9WCXN3,A1656W5DTX0RD8,A1675D95NJ1YDD,A16Q8VB9Z5FNAX,...,FAKE0,FAKE1,FAKE2,FAKE3,FAKE4,FAKE5,FAKE6,FAKE7,FAKE8,FAKE9
id,,,,,,,,,,,,,,,,,,,,,
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
26,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [25]:
a=pd.DataFrame(temp[cols].sum())
a

                 0
annotator
A10ENY7ZWMG1GL  -3
A111JI6APXR6QV   0
A119KIC2YMT1HX   9
A122JE350RXCLB  14
A12J6O77R7WG93  -1
A12SGFXZTMOA5T  -1
A152FGSJ9WCXN3   1
A1656W5DTX0RD8   4
A1675D95NJ1YDD  -4
A16Q8VB9Z5FNAX   7
A17D71VG0C31RT   1
A17FVQS8BZQNVB  -1
A18TDHUVOMVJRI   4
A19XX5CGHP2R0X   2
A1AN863VAHU927   2
A1BB6Z4O4R4A67  -2
A1CV8APDA7Y2PI   2
A1DBDHM956762E  -2
A1DM69EDQ1PS9S   3
A1E90HXPEL34ZU   5
A1F12YBG64MNZJ  -5
A1F4D2PZ7NNWTL   2
A1H0T56YFAR3QK  -2
A1IMMCOZYZFHMQ  -3
A1JH7KENWHOGB7  20
A1JWEUVNAZ6WVA   3
A1M8AYAL3L8ACP   4
A1NF6PELRKACS9   0
A1NK5S5QJEOLZY   7
A1NMOW820TYVWT   1
...             ..
AFT6VDMD6VGDG    1
AGBA9QNP2BKR1    7
AI4WWBB2PNCKH   -7
AKZGEPPYJ0GDI    5
AL12RG9EJZ60     8
AL8NYDL4JOYL3    0
ALUHVREK2GZLO   -7
ANCF8G8GCO4EM   -3
AOMS6ZPYQPAN     1
APPTLVXZD0SKE   36
APSHE13X6ZQJI   -9
AQN3RS63MEPQA    0
ARV5C888EQ0EA    1
ARX0S1CIDJLOX   30
ATHS9GUME1XCA   -2
AUQYIK6A9OLWK    0
AW4GAQGB36IBK    3
AWJ35HKXU34TE   -2
AX548JBLUVYL5    1
AZ8KL6F16ZS7G    4
FAKE0           18
FAKE1            4
FAKE2           -7
FAKE3            3
FAKE4           -1
FAKE5           -3
FAKE6            0
FAKE7           -5
FAKE8            2
FAKE9           10

[179 rows x 1 columns]

In [28]:
temp1=temp.groupby(['id']).sum()

In [29]:
temp1.head()

annotator,A10ENY7ZWMG1GL,A111JI6APXR6QV,A119KIC2YMT1HX,A122JE350RXCLB,A12J6O77R7WG93,A12SGFXZTMOA5T,A152FGSJ9WCXN3,A1656W5DTX0RD8,A1675D95NJ1YDD,A16Q8VB9Z5FNAX,...,FAKE0,FAKE1,FAKE2,FAKE3,FAKE4,FAKE5,FAKE6,FAKE7,FAKE8,FAKE9
id,,,,,,,,,,,,,,,,,,,,,
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
26,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [34]:
x=temp1.index
for i in x:
    temp1['clas']=0
temp1.head()

annotator,A10ENY7ZWMG1GL,A111JI6APXR6QV,A119KIC2YMT1HX,A122JE350RXCLB,A12J6O77R7WG93,A12SGFXZTMOA5T,A152FGSJ9WCXN3,A1656W5DTX0RD8,A1675D95NJ1YDD,A16Q8VB9Z5FNAX,...,FAKE1,FAKE2,FAKE3,FAKE4,FAKE5,FAKE6,FAKE7,FAKE8,FAKE9,clas
id,,,,,,,,,,,,,,,,,,,,,
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
temp1['class']=temp1.sum(axis=1)
temp1['class']=np.where(temp1['class']>=0,'pos','neg')
temp1['class'].head()

id
4     pos
9     pos
23    pos
26    pos
42    pos
Name: class, dtype: object

In [58]:
mturk_sample_agg=mturk_sample.groupby(['id']).sum()
mturk_sample_agg['class']=temp1['class']
#grouping based on the id and then adding the positive and negative counts per movie thereby as a result of grouping
mturk_sample_agg['class'].head()

id
4     pos
9     pos
23    pos
26    pos
42    pos
Name: class, dtype: object

In [60]:
xtrain=mturk_sample_agg.drop(['class'],axis=1)
#getting the xtrain dataframe as all the columns other than the class column inorder to match the test dataset
ytrain=mturk_sample_agg['class']
#obtaining ytrain as the values of the class present based on Dawid Skene

In [63]:
dtree=dt()#assigning the decision tree classifier 
dtree.fit(xtrain,ytrain)#fitting the decision tree classifier model based on the x train and y train values

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
test=pd.read_csv('../data/test.csv',index_col=0)#uploading the test dataset from the data folder
xtest=test.drop(['class'],axis=1)#getting the xtest dataframe as all the columns other than the class column of the test dataset
ytest=test['class']#obtaining ytrain as the values of the class present for each id row
ypredict=dtree.predict(xtest)#predicting the values of y based on the xtest values using the model developed

In [65]:
print(mat(ytest,ypredict))#printing the confusion matrix for the values of y test and y predict
print(rep(ytest,ypredict))#providing the report for the comparison between y test and y predict
print("accuracy",met.accuracy_score(ytest,ypredict)*100) #getting the accuracy
print("F1 value is ",met.f1_score(ytest,ypredict,average= 'micro'))# providing the f1 value
print("Recall value is",met.recall_score(ytest,ypredict,average='binary',pos_label="neg"))#providing the recall value for neg
print("Recall value is",met.recall_score(ytest,ypredict,average='binary',pos_label="pos"))#providing the recall value for pos
print("Predicted probabilites are",dtree.predict_proba(xtrain))#printing the predicted probabilities for x train

[[1526 1184]
 [1215 1503]]
             precision    recall  f1-score   support

        neg       0.56      0.56      0.56      2710
        pos       0.56      0.55      0.56      2718

avg / total       0.56      0.56      0.56      5428

accuracy 55.80324244657332
F1 value is  0.5580324244657332
Recall value is 0.56309963099631
Recall value is 0.5529801324503312
Predicted probabilites are [[0. 1.]
 [0. 1.]
 [0. 1.]
 ...
 [1. 0.]
 [1. 0.]
 [1. 0.]]

In [66]:
#now making these results written into train_ds.txt
con=mat(ytest,ypredict)#storing the confusion matrix values for y test and y predict
rep=rep(ytest,ypredict)# storing the report for it
acc=met.accuracy_score(ytest,ypredict)*100#storing the accuracy of the prediction
f1=met.f1_score(ytest,ypredict,average= 'micro')#storing the f1 values
posrec=met.recall_score(ytest,ypredict,average='binary',pos_label="pos")#storing the pos recall score
negvec=met.recall_score(ytest,ypredict,average='binary',pos_label="neg")#storing the neg recall score
pred=dtree.predict_proba(xtrain)#storing the prediction probability for the x train
with open('../results/train_ds.txt','w') as i: #writing a text file into the results folder as mentioned in the question
    i.write("The confusion matrix generated using dawid skene is: \n %s" %con)#writing all the required results line by line
    i.write("\n The report for the dawid skene is \n %s"%rep)#writing the report
    i.write("\n The positive recall value using dawid skene is %s "%posrec)#writing the pos recall value
    i.write("\n The negative recall value using dawid skene is  %s"%negvec)#writing the neg recall value
    i.write("\n The F1 using dawid skene is %s"%f1)#writing the f1 score
    i.write("\n The accuracy using dawid skene is  %s"%acc)#writing the accuracy
    i.write("\n The predicted probability for x train is \n %s "%pred)#writing the predicted probability

In [ ]:
d= StringIO()#intitialising the stringIO
export_graphviz(dtree, out_file=d,filled=True, rounded=True,special_characters=True)
#doing graphical visualisation for obtaining the decision tree
g= pydotplus.graph_from_dot_data(d.getvalue())  
Image(g.create_png())#desired output